@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
	box-sizing: border-box;
	margin: 0;
}
body{
	margin: 0;
	text-align: center;
	background-image: url(../img/background3.jpg);
	background-size: cover;

}

nav ul{
	list-style: none;
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	line-height: 14px;
}

nav li{
	display: inline-block;
	margin-top: 2%;
	margin-right: 2%;
}

nav a{
	font-weight: 800;
	text-decoration: none;
	font-size: 1rem;
	padding: .5em;
	color: #FFF;
}

nav a:hover, 
nav a:focus{
	color: #DDD;
}

.logo{
	float: left;
	margin-top: 2%;
	margin-left: 2%;
}

.le-menu{
	background-color: rgba(0, 0, 0, 0.65);
	width: 650px;
	height: 400px;
	margin-top: 10%;
	margin-left: 25%;

}

.lemenu{
	font-family: 'Lobster', cursive;
	color: white;
	padding: 5%;
	font-size: 30px;

}

ul{
	list-style: none;
}

.title{
	color: white;
	text-decoration: underline;
	padding: 0;
	
}

ul li{
	color: white;
	font-size: 20px;
}

.list{
	float:left;
	padding: 5%;
	margin-top: -5%;
	margin-left: 15%;
	

}

.list2{
	float: left;
	margin-left: 15%;
	margin-right: 30%;
	margin-top: -3%;

}

.list3{
	padding: 5%;
	margin-top: 21%;
	margin-left: -42%;
	
}

.list4{
	float: right;
	margin-top: -45%;
	margin-right: 18%;

}